<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style/style.css">
</head>
<body>
	<header class="menu">
		<ul class="main-menue">
			<li><a href=<?=\Router::get_dir()?>>Home</a><br>
			<?php if (\App::$user): ?>
				<li><a  href= <?= \Router::get_dir('/logout')?> >Logout</a>
			<?php else: ?>
				<li><a href=<?= \Router::get_dir('/register')?>>Register</a><br>
				<li><a href=<?= \Router::get_dir('/login')?>>Login</a>
			<?php endif ?>
		</ul>
	</header>
	
	<div class='container'>
		<?php if (isset($_SESSION['error'])): ?>
			<div class="panel-danger"><strong>Error:</strong><?=$_SESSION['error']?></div>
		<?php
			unset($_SESSION['error']); 
			endif 
		?>