<form action="" method="post">
		<legend><h1>Sing in</h1></legend>
		<div class="form-group">
			<label for="sing_in_str">Login or e-mail:</label><br>
			<input type="text" name="sing_in_str" id="sing_in_str" class="form-control" placeholder="Enter your e-mail or login" required>
		</div>
		<div class="form-group">
			<label for="pass">Password:</label><br>
			<input type="password" name="password" id="pass" class="form-control" placeholder="Enter your password" pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s).*$" required>
		</div>
			<input type="submit" value="Sing in" id="submit">
</form>